select:focus {
  outline: none;
  box-shadow: none !important;
}

input:focus {
  outline: none;
  box-shadow: none !important;
}

button:focus {
  outline: none;
  box-shadow: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Optionally, you can also reset the margin */
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

.input-symbol-euro {
  position: relative;
  display: inline-block;
  width: 50%;
}

.input-symbol-euro input {
  padding-right: 15px;
  width: 100%;
}

.input-symbol-euro:after {
  position: absolute;
  top: 64%;
  transform: translateY(-50%);
  margin: auto;
  content: "₴";
  right: 20px;
}

.animated-button {
  transition: opacity .3s ease-in-out;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}